DEBUG=False
SECRET_KEY=change-me
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://127.0.0.1,http://localhost

DB_NAME=habits_db
DB_USER=habits_user
DB_PASSWORD=habits_password
DB_HOST=db
DB_PORT=5432

CELERY_BROKER_URL=redis://redis:6379/1
CELERY_RESULT_BACKEND=redis://redis:6379/2
CELERY_TIMEZONE=UTC

DEFAULT_PAGINATION_CLASS=habits.pagination.FivePerPagePagination
PAGE_SIZE=5

TELEGRAM_API_URL=https://api.telegram.org
TELEGRAM_BOT_TOKEN=put-token-here

# Для прод-деплоя (docker-compose.prod.yml)
APP_IMAGE=ghcr.io/stanislav8878/course321:latest