DEBUG=True
SECRET_KEY=your_super_secret_key
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=habits_db
DB_USER=habits_user
DB_PASSWORD=strong_password
DB_HOST=127.0.0.1
DB_PORT=5432

TELEGRAM_BOT_TOKEN=123456789:ABCDEF-TOKEN
TELEGRAM_API_URL=https://api.telegram.org

REDIS_URL=redis://127.0.0.1:6379/0
CELERY_BROKER_URL=redis://127.0.0.1:6379/1
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/2
