# env
.env
.env.*
!.env.example

# python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log

# venv/ide
.venv/
venv/
.idea/
.vscode/

# tests/coverage
.coverage
htmlcov/
.coverage.*
.pytest_cache/

# django collected
static/
media/
celerybeat-schedule
gunicorn.ctl